# typed: strict

module Domain
  module Repositories
    module <%= class_name %>Repository

      def create(<%= file_name %>)
      end

      def find(id)
      end

      def all
      end

      def delete(id)
      end

      def update(<%= file_name %>, attributes)
      end
    end
  end
end
